# DBT directories
target/
dbt_packages/
logs/

# Sensitive DBT files
profiles.yml
.user.yml
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Lightdash local files
.lightdash/

# OS files
.DS_Store
